* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.row {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  min-width: 200px;
  max-width: 200px;
  min-height: 380px;
  max-height: 400px;
  background: white;
  margin: 0 .5rem;
}

/* media query for the card component  */
@media (max-width : 412px) {
  .card {
    min-width: 155px;
    max-width: 160px;
    min-height: 400px;
    max-height: 400px;
    margin: 0 .5px;
  }

}


.warpper {
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}


.warpper:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}


.img {
  max-height: 200px;
  min-height: 200px;
  min-width: 170px;
  max-width: 190px;
}

@media (max-width : 412px) {
  .img {
    min-width: 150px;
    max-width: 150px;
    min-height: 160px;
    max-height: 160px;
    /* margin: 0; */

  }

}

.product-card-img {
  /* width: 100%; */
  min-width: 175px;
  max-height: 220px;
  min-height: 200px;
}

@media (max-width : 412px) {
  .product-card-img {
    min-width: 150px;
    max-width: 160px;
    max-height: 170px;
    min-height: 170px;

  }

}

.warpper .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  width: 25px;
  height: 25px;
  color: red;
}

.warpper .heart svg,
.warpper .heart path,
.warpper .heart circle {
  stroke: currentColor;
  fill: transparent;
}

.warpper .heart:hover {
  cursor: pointer;
  color: red !important;

}

.wishlist:hover {
  color: red !important;
}

.color_bg {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 5px;

}

.color_bg.batman {
  background-color: #b82d44;
}

.color_bg.blackpanter {
  background-color: #1d1d1d;
}

.color_bg.arthur {
  background-color: #153a82;
}

.color_bg.kashima {
  background-color: #3f4a69;
}


.card_img {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: calc(100% - 300px);
  width: 100%;
  height: 300px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.cardInfo {
  display: block;
  padding: 20px 10px 5px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #666;
}

.cardInfo h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}

.cardInfo p {
  width: 100%;
  font-size: 14px;
  margin: 0 !important;
  text-align: center;
}

.action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-top: 15px; */
}

.priceGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.priceGroup .price {
  font-size: 18px;
  color: #000;
  text-align: left;
}

.priceGroup .price.old_price {
  color: red;
  font-size: 15px;
  text-decoration: line-through;
  text-align: left;
}

.priceGroup .price.newPrice {
  color: #000;
  font-size: 20px;
  font-weight: 800;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 35px;
  height: 35px;
}

.cart:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.cart svg,
.cart path,
.cart circle {
  stroke: currentColor;
  fill: transparent;
  -webkit-transition-delay: 0.2s;
  /* transition-delay: 0.2s; */
}


/* .btn-cart {
  padding: 0rem 2rem;
  margin: 0 1rem;
  color: black;
  background-color: transparent;
  border: var(--primary-color) solid 1px;
} */

.heart-filled {
  /* background-color: red; */
  color: red;
}

.remove-btn {
  margin-left: 0 !important;
}

.product-discreaption {
  width: 100%;
  color: var(--primary-color);

}